@import url('variablesLight.css');

h3 {
    font-weight: bold;
    font-size: 2.1rem;
}

.fantasticTheme {
    background-image: url(../img/fantastic.png);
}

.scienceFictionTheme {
    background-image: url(../img/sf.jpg);
}

.fantasyTheme {
    background-image: url(../img/fantasy.jpg);
}

.themeAll {
    background-image: url(../img/all.jpg);
}

.theme {
    height: 60vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.theme {
    color: var(--light-color);
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.theme h1 {
    backdrop-filter: blur(10px);
    border: var(--border-dark-dotted);
}

.themeChoice form {
    width: 100%;
}

.btnChooseTheme {
    width: 60% !important;
}

article {
    width: 90%;
}

.story {
    background-color: var(--lighter-color);
    border: var(--border-dark-double);
    outline: var(--border-dark-double);
    outline-offset: -20px;
    width: 100%;
    min-height: 75vh;
    box-shadow: rgba(32, 3, 5, 0.16) 0px 10px 36px 0px, rgba(32, 3, 5, 0.06) 0px 0px 0px 1px;
}

.coverCard {
    position: relative;
}

.coverImg {
    object-fit: cover;
    height: 400px;
    width: 100%;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    box-shadow: 0px 4px 5px #5f2823;
}

.note {
    height: 85px;
    width: 85px;
    border-radius: 50%;
    font-size: 1.5rem;
    background-color: var(--light-color);
    color: var(--dark-color);
    border: var(--border-dark-double);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.themeIcone {
    width: 15%;
    border-radius: 50%;
}

.categoryInfo {
    background-color: var(--dark-color);
    color: var(--lighter-color);
    font-size: 0.9rem;
    width: auto;
    padding-right: 5%;
    padding-left: 5%;
}

.progress {
    height: 17px;
    border: var(--border-dark-solid);
}

.progress-bar {
    background-color: var(--special-color);
}

.btn {
    width: 90%;
    padding: 4%;
}

.btnReading {
    width: 90%;
}


/* ---------------------------------------------------------------------------------------- */

/* STYLE EN CAS D'ARCHIVAGE */

.story.archived {
    background-color: #ba9f8d;
    border: var(--border-dark-double);
}

.story.archived .categoryInfo {
    background-color: var(--light-color);
    color: var(--dark-color);
}

.story.archived .coverImg, .themeIcone {
    box-shadow: #f1e5cc 0px 0px 7px 0px;
}


/* ---------------------------------------------------------------------------------------- */

/* MEDIA QUERIES */

@media screen and (min-width: 768px) and (max-width: 992px) {

    .note {
        height: 100px;
        width: 100px;
    }

    .themeIcone {
        width: 10%;
        border-radius: 50%;
    }

    .btn {
        width: 30%;
        padding: 2%;
    }

    .themeChoice form {
        width: 50%;
    }

    .btnChooseTheme {
        width: 70% !important;
    }
}


@media screen and (min-width: 992px) {

    
    .coverImg {
        object-fit: cover;
        height: 100%;
        border-bottom-left-radius: 0%;
        border-top-right-radius: 45%;
        border-bottom-right-radius: 45%;
        box-shadow: 4px 0px 5px #5f2823;
    }

    .note {
        height: 100px;
        width: 100px;
        top: 50%;
        left: 100%;
    }

    .categoryInfo {
        padding-right: 3%;
        padding-left: 3%;
    }

    .btn {
        width: 55%;
        padding: 3%;
    }

    .themeChoice form {
        width: 20%;
    }
    
    .btnChooseTheme {
        width: 80% !important;
    }
}

@media screen and (min-width: 1200px) {

    .themeIcone {
        width: 15%;
        border-radius: 50%;
    }

    .btn {
        width: 55%;
        padding: 3%;
        padding-left: 3%;
        padding-right: 3%;
    }
}

@media screen and (min-width: 1400px) {

    .themeIcone {
        width: 10%;
        border-radius: 50%;
    }

    .btn {
        width: 35%;
        padding: 2%;
        padding-left: 3%;
        padding-right: 3%;
    }
}