@import url('variablesLight.css');

.col {
    padding: 0;
}

.coverImg {
    height: 40vh;
    width: 100%;
    object-fit: cover;
}

.bi-arrow-left, .bi-arrow-up {
    font-size: 2.5rem;
    color: var(--dark-color);
}

.progressionSection {
    border-top: var(--border-dark-solid);
    border-bottom: var(--border-dark-solid);
    background-color: #f1f1e742;
}

.btn {
    width: auto;
    padding: 15px 55px 15px;
}

.btnReading {
    min-width: 100%;
    padding: 10px 35px 10px;
}


@media screen and (min-width: 768px) and (max-width: 992px) {
    

    .btnReading {
        min-width: 30%;
    }

}

@media screen and (min-width: 992px) {

    .btnReading {
        min-width: 20%;
    }

}