:root {
    --darker-color: #200305;
    --dark-color: #5f2823;
    --medium-color: #ba9f8d;
    --light-color: #f1e5cc;
    --lighter-color: #f1f1e7;
    --special-color: #bd5f13;
    --danger-color: #b2161a;

    --border-dark-double: #5f2823 4px double;
    --border-light-double: #f1e5cc 4px double;
    --border-lighter-double: #f1f1e7 4px double;
    --border-danger-double: #b2161a 4px double;

    --border-dark-double-large: #5f2823 10px double;
    --border-light-double-large: #f1e5cc 10px double;

    --border-darker-solid: #200305 1px solid;
    --border-dark-solid: #5f2823 1px solid;
    --border-light-solid: #f1e5cc 1px solid;
    
    --border-dark-dotted: #5f2823 1px dotted;
    --border-light-dotted: #f1e5cc 1px dotted;
}


/* --darker-color: #200305;
    --dark-color: #5f2823;
    --medium-color: #ba9f8d;
    --light-color: #f1e5cc;
    --lighter-color: #f1f1e7;
    --special-color: #bd5f13;
    --danger-color: #b2161a;

    --border-dark-double: #5f2823 4px double;
    --border-light-double: #f1e5cc 4px double;
    --border-lighter-double: #f1f1e7 4px double;
    --border-danger-double: #b2161a 4px double;

    --border-dark-double-large: #5f2823 10px double;
    --border-light-double-large: #f1e5cc 10px double;

    --border-darker-solid: #200305 1px solid;
    --border-dark-solid: #5f2823 1px solid;
    --border-light-solid: #f1e5cc 1px solid;
    
    --border-dark-dotted: #5f2823 1px dotted;
    --border-light-dotted: #f1e5cc 1px dotted; */